/* # codigo variado */

@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container>* {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
}

/* # fin codigo variado */

/* # header */

.header {
  grid-area: header;
  background-color: #229954;
}

.header h1 {
  color: white;
  text-align: center;
  justify-content: center;
  align-content: center;
}

/* # fin header */

/* # navbar */

.navbar {
  grid-area: navbar;
  background-color: #229954;
  display: grid;
  grid-template-columns: 80% 20%;
}

.navbar .box-1, .box-2 {
  display: flex;
  justify-content: center;
  align-content: center;
}

.navbar .btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}

.navbar .btn i {
  margin-right: 10px;
}


/* # fin navbar */

/* # sidebar */

.sidebar {
  grid-area: sidebar;
  background-color: #566573;
}

.sidebar .box .titulo {
  color: white;
  text-align: center;
  font-size: 50px;
  border-bottom: solid #808B96 1px;
}

.sidebar .menu {
  display: grid;
  gap: 5px;
}

.sidebar .menu a {
  display: grid;
  grid-template-columns: 20% 70%;
  gap: 10%;
  align-content: center;
  text-align: left;
  text-decoration: none;
  color: white;
  transition: all 200ms ease;
  width: auto;
  height: 60px;
}

.sidebar .menu a:hover {
  background-color: #808B96;
  border-left: solid white 1px;
}

.sidebar .menu a i {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* # fin sidebar */

/* # main */

.main {
  grid-area: main;
  background-color: #f5f5f5;
}

/* # fin main */

/* # footer */

.footer {
  grid-area: footer;
  background-color: #566573;
}

/* # fin footer */

/* # grid */

.grid-container {
  display: grid;
  gap: 5px;
  grid-template:
    "header" 50px
    "navbar" 50px
    "main" auto
    "sidebar" 200px
    "footer" 100px;
}

.grid-container {
  grid-template-columns: 300px auto;
  grid-template-rows: 50px 50px auto 100px;
  grid-template-areas:
    "header  header"
    "navbar navbar"
    "sidebar main"
    "footer  footer";
}

/* # fin grid */

/* # responsive */

/* # fin responsive */