/* # codigo variado */

@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

.grid-container>* {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

/* # fin codigo variado */

/* # header */

.header {
  grid-area: header;
  background-color: #229954;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.header .box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .box a {
  width: 100px;
  height: 40px;
  background-color: #239B56;
  text-decoration: none;
  text-align: center;
  color: white;
  border: solid black 2px;
  border-radius: 15px;
  transition: all 500ms ease;
}

.header .box a:hover {
  transform: scale(1.1);
  background-color: fff;
}

.header .box img {
  width: 140px;
  height: auto;
}

/* # fin header */

/* # sidebar */

.sidebar {
  grid-area: sidebar;
  background-color: #566573;
}

.sidebar .box .titulo {
  color: white;
  text-align: center;
  font-size: 50px;
  border-bottom: solid #808B96 1px;
}

.sidebar .menu {
  display: grid;
  gap: 5px;
}

.sidebar .menu a {
  display: grid;
  grid-template-columns: 20% 70%;
  gap: 10%;
  align-content: center;
  text-align: left;
  text-decoration: none;
  color: white;
  transition: all 200ms ease;
  width: auto;
  height: 60px;
}

.sidebar .menu a:hover {
  background-color: #808B96;
  border-left: solid white 1px;
}

.sidebar .menu a i {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* # fin sidebar */

/* # main */

.main {
  grid-area: main;
  background-color: #f5f5f5;
}

/* # fin main */

/* # footer */

.footer {
  grid-area: footer;
  background-color: #566573;
}

/* # fin footer */

/* # grid */

.grid-container {
  display: grid;
  gap: 10px;
  grid-template:
    "header" 200px
    "main" auto
    "sidebar" 200px
    "footer" 100px;
}

.grid-container {
  grid-template-columns: 300px auto;
  grid-template-rows: 200px auto 100px;
  grid-template-areas:
    "header  header"
    "sidebar main"
    "footer  footer";
}

/* # fin grid */

/* # responsive */

/* # fin responsive */